# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtualenv
venv/
.venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch
*.pt
*.pth

# Results and exports
results/

# macOS
.DS_Store
